nav {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    background: #333;
    padding: .5em .2em ;
    color:tan;
    font-family: 'roboto', sans-serif ;
}
nav a{
    text-decoration: none;
}
html{
     font-size: 16px;
     margin-top: 3em;
}
main,
footer{
    margin: auto;
    max-width: 800px;
    justify-content: center;
}
.main-container{
display: flex;
flex-direction: column;
background: #411D13;
border-radius: .25rem;
opacity: 90%;
box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.925);
margin: 2em auto;
padding: 2em ;
max-width: 1000px;

}
body{
    background-image: url(images/martin-katler-T7oueegdnHE-unsplash.jpg);
    background-size: cover;
    color: white;
}
img{
    background-image: url(images/WCCI10320-095.jpg);
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.Container{
    display: flex;
    Margin: 2rem auto;
    padding: 11px;
    min-width: 2rem;
    flex-direction: row;
    justify-content: space-between;
    background-color:#817f7e;
    border-radius: .25rem;
    opacity: 100;
    box-shadow: 0 2rem 6rem rgba(66, 59, 59, 0.425);
    flex-basis: 1000px;
    flex-wrap: wrap;

}
.flexItem--1{
    
    border: solid white;
    border-radius: .25rem;
    padding: 2em;
    
    flex-basis: 4000px; 
    flex-wrap: inherit; 
    max-width: 200px;
    
}
.flexItem--2{
   
    border: solid white;
    border-radius: .25rem;
    padding: 2em;
   
    flex-basis: 4000px;  
    flex-wrap: inherit;  
    max-width: 200px;
}
.flexItem--3{
    
    border: solid white;
    border-radius: .25rem;
    padding: 2em;
    flex-basis: 4000px;  
    flex-wrap: inherit;  
    max-width: 200px;
   
}
#AboutMe{
    border:solid white ;
    border-radius: .25rem;
    padding: 1em ;
    margin-bottom: 1em;
}
#TechStack{
    border: solid white;
    border-radius: .25rem;
    margin-bottom: 1em; 
}
#Projects{
    border:solid white ;
    border-radius: .25rem;
    padding: 1em ;
    margin-bottom: 1em;  
    
}
h1,
h2, 
h3,
section,
article,
p,
span,
ul
{
    text-align: center;
    font-family: 'roboto', sans-serif ;
    list-style-type: none;
    margin: 0%;
    padding: 0%;

}
a{
    color: tan; 
}
a:hover, a:active {
    background-color:White;
}

header{
    padding: 2em 0;
    text-align: center;
    font-size: 18px;
}
footer{
    margin-top: 2rem;
    margin-bottom: 1em;
    background: gray;
    opacity: 60%;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
}
