nav {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    opacity: 60%;
    font-size: 22px;
    background: #333;
}
nav a{
    padding: .5em .2em ;
    text-decoration: none;
    color:white;
    
}
nav a :hover{   
background: #10381f;
}
html{
     font-size: 16px;
     margin-top: 3em;
}
header,
main,
footer{
    margin: auto;
    max-width: 800px;
    justify-content: center;
}
.main-container{
background: #411D13;
border-radius: .25rem;
opacity: 90%;
box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.925);
margin: 2em auto;
padding: 2em ;
}
body{
    background-image: url(images/martin-katler-T7oueegdnHE-unsplash.jpg);
    background-size: cover;
    color: white;
}
.Container{
    display: flex;
    Margin: 2rem auto;
    padding: 11px;
    min-width: 10rem;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around ;
    border: solid white;
    border-radius: .25rem;
    background-color:#817f7e;
    opacity: 100;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.425);
}
.flexItem--1{
    border: solid white;
    border-radius: .25rem;
    padding: 2em;
}
.flexItem--2{
    border: solid white;
    border-radius: .25rem;
    padding: 2em;
   
}
.flexItem--3{
    border: solid white;
    border-radius: .25rem;
    padding: 2em;
}
#AboutMe{
    border:solid white ;
    border-radius: .25rem;
    padding: 1em ;
    margin-bottom: 1em;
}
#TechStack{
    border: solid white;
    border-radius: .25rem;
}
h1,
h2, 
h3,
section,
p
{
    text-align: center;
}
.href{
 color:tan;
}

header{
    padding: 2em 0;
    text-align: center;
    font-size: 18px;
}
footer{
    margin-top: 2rem;
    margin-bottom: 1em;
    background: gray;
    opacity: 60%;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
}
